[defaults]
inventory = ./inventory.ini # same dir lo vunte give like this
log_path = /var/log/robo/ansible.log 

vault_password_file = /etc/ansible/mysql_vault_pass.txt 

# mysql_vault_pass.txt   ila file name mana istum... 